{% extends "layouts/kineLayout.html" %}

{% block title %}Menú principal{% endblock %}

{% block body %}
<div class="bg-light with-background">    
    <div class="container col-md-6 ">
        <img class="rounded-circle" src="{{ url_for('static', filename='assets/senama.png') }}" alt="Foto Paciente">
        <div class="justify-content-center text-center p-3">
            <div class="row">
                <h1 class="display-5 fw-bold row">Hola {{ current_user.nombre_completo }}</h1>
            </div>
            <div class="row">
                <p class="lead bg-primary bg-gradient text-white row">
                    <strong>Recuerda que, en SENAMA estamos comprometidos en brindar el mejor cuidado y atención a nuestros adultos mayores. Como kinesiólogo, eres una parte fundamental de nuestra misión de promover la salud y el bienestar.</strong>
                </p>
            </div>
            <div class="row">
                <hr class="">
                <p class="bg-primary bg-gradient text-white row">
                    <strong>Este portal es tu herramienta para acceder a la información y recursos necesarios para llevar a cabo tu importante labor. Aquí encontrarás herramientas de registro y seguimiento, información sobre nuestros programas y directrices</strong>
                </p>
            </div>
            
            
            
        </div>
    </div>
</div>

{% endblock %}