<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Administrador -{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/senama.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
    <style>
        .nav-item :hover {
            color: #FFECD1;
            background: #FF7D00;
        }
    </style>
</head>
<body class="align-midle text-center">
    <ul class="nav nav-justified nav-pills nav-tabs">
        <li class="nav-item">
            <a href="{{ url_for('administrador_main') }}" class="nav-link fa-solid fa-home"></a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link fa-solid fa-person"></a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link fa-solid fa-running"></a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('logout') }}" class="nav-link fa-solid fa-right-to-bracket"></a>
        </li>
    </ul>
    {% block body %}
    
    {% endblock %}    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/d7d7118dc5.js" crossorigin="anonymous"></script>
</html>