{% extends "layouts/kineLayout.html" %}

{% block title %}Rutinas{% endblock %}

{% block body %}
<div class="fondo container">
    <div class="row">
        <nav class="m-1" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('kinesiologo_main') }}"><i class="fa-solid fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('listar_pacientes', id_kinesiologo=current_user.get_id()) }}">Pacientes</a></li>
                <li class="breadcrumb-item active">Crear rutina</li>
            </ol>
        </nav>
<!-- F O R M U L A R I O - C R E A R - R U T I N A -->
        <div class="container col-md-4 card" style="background-color:#c5d7f2">
            <h3 style="border-radius: 20px;" class="mt-2 display-6 fw-bold card-title bg-dark bg-gradient text-white">Crear Rutina:</h3>
            <form class="card-body" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
                <div class="mb-3 text-start">
                    <label for="tituloRutina" class="form-label">Título:</label>
                    <input type="text" class="form-control" id="tituloRutina" name="tituloRutina" placeholder="Ejemplo: Rutina de Ejercicio Flexibilidad">
                </div>

                <div class="mb-3 text-start">
                    <label for="objetivoRutina" class="form-label">Objetivo:</label>
                    <select class="form-select" id="objetivoRutina" name="objetivoRutina">
                        <option disabled selected value="">Selecciona un objetivo</option>
                        <option value="Salud">Mejorar la salud física</option>
                        <option value="Fuerza">Aumentar la fuerza muscular</option>
                        <option value="Flexibilidad">Mejorar la flexibilidad</option>
                    </select>
                </div>

                <div class="mb-3 text-start">
                    <label for="tiempoRutina" class="form-label">Duración:</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="tiempoRutina" name="tiempoRutina" min="0" step="15">
                        <span class="input-group-text">minutos</span>
                    </div>
                </div>
                

                <div class="mb-3 text-start">
                    <label for="notasRutina" class="form-label">Notas adicionales:</label>
                    <textarea class="form-control" rows="4" id="notasRutina" name="notasRutina" placeholder="Agrega notas adicionales si es necesario"></textarea>
                </div>

                <div>
                    <br>
                    <button class="btn btn-primary mb-3" type="submit" name="submit" value="crear"><i class="fa-solid fa-plus"></i> Crear Rutina</button>
                    <button class="btn btn-danger mb-3" type="button" id="borrarCampos"><i class="fa-solid fa-eraser"></i> Limpiar</button>
                    <br>
                </div>

                <div class="row">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                          <div class="align-items-center justify-content-center">
                              {% for category,message in messages %}
                                  <div class="alert col-lg-12  alert-{{category}} alert-dismissible show fade" role="alert" id="alert-message">
                                      <strong>{{message}}</strong> 
                                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                        
                                  </div>    
                              {% endfor %}
                          </div>
                      {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>

<!-- T A B L A - C R E A R - R U T I N A -->
        <div class="col-md-7">
            <div class="table-responsive rounded">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr  class="table-dark">
                            <th class="col-md-1" scope="col">Rutina:</th>
                            <th class="col-md-2" scope="col">Título:</th>
                            <th class="col-md-2" scope="col">Objetivo:</th>
                            <th class="col-md-2" scope="col">Duración</th>
                            <th class="col-md-3" scope="col">Notas adicionales:</th>
                            <th class="col-md-2" scope="col">Acciones:</th>
                        </tr>
                    </thead>
                    <tbody>    
                        {% for i in rutinas %}
                        {% if id_paciente == i.fk_id_paciente %}
                        <tr class="scope table-primary">
                            <td>{{i.id}}</td>
                            <td>{{i.titulo}}</td>
                            <td>{{i.objetivo}}</td>
                            <td>{{i.duracion}}</td>
                            <td>{{i.notas}}</td>
                            <td>
                                <a 
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Seleccionar ejercicios"
                                name="selectEjercicio" 
                                id="selectEjercicio" 
                                class="btn btn-success m-1 p-2" 
                                href="/seleccionar_ejercicio_rutina/{{i.id}}" 
                                role="button">
                                    <i class="fa-solid fa-dumbbell"></i>
                                </a>
                                <a 
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar rutina"
                                name="editRutina" 
                                id="editRutina" 
                                class="btn btn-info m-1 p-2" 
                                href="/editar_rutina/{{i.id}}" 
                                role="button">
                                    <i class="fa-solid fa-file-pen"></i>
                                </a>
                                <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar rutina" 
                                name="deleteRutina" 
                                id="deleteRutina" 
                                class="btn btn-danger m-1 p-2" 
                                href="/eliminar_rutina/{{i.id}}/{{id_paciente}}" 
                                role="button">
                                    <i class="fa-solid fa-file-circle-xmark"></i>
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("borrarCampos").addEventListener("click", function () {
        document.getElementById("tituloRutina").value = "";
        document.getElementById("objetivoRutina").value = "";
        document.getElementById("tiempoRutina").value = "0";
        document.getElementById("notasRutina").value = "";
    });
</script>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
</script>
{% endblock %}