/* */
.wrap {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.colorFooter {
    background-color: #2545b1;
}

.redes-mosaico {
    padding: 25px 0;
    margin: 0 auto 10px;
    color: #475156;
}



