{% extends "layouts/kineLayout.html" %}

{% block title %}Página principal{% endblock %}

{% block body %}
<div class="container fondo">
  <nav class="m-1" style="--bs-breadcrumb-divider: '>';">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('kinesiologo_main') }}"><i class="fa-solid fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('elegir_ejercicio') }}">Elegir ejercicio</a></li>
        <li class="breadcrumb-item active">Retroalimentación en tiempo real</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-8">
      <div id="RTR" style="display: none">
        <h1 class="fw-bold fs-3">Retroalimentación en tiempo real:</h1>
        <img id="videoImage"  class="m-3 p-1 mx-auto" src="{{ url_for('video_feed', ejercicio=ejercicio) }}" alt="Cámara en vivo">
      </div>
      <div id="videoTutorial" style="display: block;">
        <h1>Video</h1>
        <video controls width="550" height="450" >
            <source src="https://iwzzyjvqvbgmkaybieeh.supabase.co/storage/v1/object/public/Videos/abs3.mp4?t=2023-10-24T23%3A42%3A19.104Z" type="video/mp4">
        </video>
      </div>
    </div>          
    <div class="col-md-4">
      <h1 class="fw-bold fs-3">Retroalimentación en tiempo real con mediapipe</h1>
      <p class="fs-6">Analiza a través de video ...</p>
      <button class="btn btn-primary btn-lg mb-3" type="button" id="toggleButton">Empezar retroalimentación</button>
    </div>          
  </div>      
</div>
<script>
  // JavaScript para mostrar u ocultar la imagen al hacer clic en el botón
  const toggleButton = document.getElementById('toggleButton');
  const myImage = document.getElementById('RTR');
  const myTutorial = document.getElementById('videoTutorial');

  toggleButton.addEventListener('click', function () {
      if (myImage.style.display === 'none') {
        myImage.style.display = 'block'; // Oculta la imagen
        myTutorial.style.display = 'none';
      } else if (myImage.style.display === 'block') {
        myImage.style.display = 'none'; // Muestra la imagen
        myTutorial.style.display = 'block';
      }      
  });
</script>
{% endblock %}
