{% extends "layouts/kineLayout.html" %}

{% block title %}Elegir ejercicio a evaluar{% endblock %}

{% block body %}

<div class="container m-2">
    <div class="row m-1 d-flex justify-content-center">
        <div class="col-md-6">
            <a name="" id="" class="btn btn-primary m-1 border btn-xlg" href="#" role="button"
            style="--bs-btn-padding-y: 5rem; --bs-btn-padding-x: 5rem; --bs-btn-font-size: 2.5rem;">
                <img src="{{ url_for('static', filename='icons/squat.png') }}" style="height: 3em; width: 3em;"></img>
            </a>
            
            <a name="" id="" class="btn btn-danger m-1 border btn-xlg" href="#" role="button"
            style="--bs-btn-padding-y: 5rem; --bs-btn-padding-x: 5rem; --bs-btn-font-size: 2.5rem;">
                <img src="{{ url_for('static', filename='icons/pushup.png') }}" style="height: 3em; width: 3em;"></img>
            </a>
            
        </div>
    </div>
    <div class="row m-1 d-flex justify-content-center">
        <div class="col-md-6">
            <a name="" id="" class="btn btn-info m-1 border btn-xlg" href="#" role="button"
            style="--bs-btn-padding-y: 5rem; --bs-btn-padding-x: 5rem; --bs-btn-font-size: 2.5rem;">
                <img src="{{ url_for('static', filename='icons/man-fitness.png') }}" style="height: 3em; width: 3em;"></img>
            </a>
            
            <a name="" id="" class="btn btn-warning m-1 border btn-xlg" href="#" role="button"
            style="--bs-btn-padding-y: 5rem; --bs-btn-padding-x: 5rem; --bs-btn-font-size: 2.5rem;">
                <img src="{{ url_for('static', filename='icons/standing.png') }}" style="height: 3em; width: 3em;"></img>
            </a>
            
        </div>
    </div>    

</div>

{% endblock %}