{% extends "layouts/kineLayout.html" %}

{% block title %}Editar Sesión{% endblock %}

{% block body %}
<div class="fondo container mb-3">
    <div class="row">
      <nav class="m-1" style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('kinesiologo_main') }}"><i class="fa-solid fa-home"></i></a></li>
          <li class="breadcrumb-item"><a href="{{ url_for('listar_pacientes', id_kinesiologo=current_user.get_id()) }}">Pacientes</a></li>
          <li class="breadcrumb-item"><a href="{{ url_for('listar_sesiones', id_paciente=sesion.fk_id_paciente) }}">Sesiones</a></li>
          <li class="breadcrumb-item active">Editar ejercicio</li>
        </ol>
      </nav>
    </div>
    <div class="container col-md-12 card" style="background-color:#c5d7f2">
      <h3 style="border-radius: 15px; background-color: #3452b3; color: #d8d8ce;" class="p-2 mt-2 display-6 fw-bold card-title bg-gradient">Editar sesion N° {{sesion.id}}:</h3>
      <form action="" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="container col-md-10">
              <div class="mb-3 visually-hidden">
              <label class="visually-hidden" for="idPaciente">Id paciente</label>
              <input type="number" class="form-control" name="idPaciente" id="idPaciente" value="{{sesion.fk_id_paciente}}" placeholder="">
          </div>
          <div class="mb-3 visually-hidden">
              <label class="visually-hidden" for="fkIdKinesiologo">Id Kinesiologo</label>
              <input type="number" class="form-control" name="fkIdKinesiologo" id="fkIdKinesiologo" placeholder="" value="{{current_user.get_id()}}">
          </div>            
          <div class="form-floating mb-3">
              <input
              type="date"
              class="form-control" name="fecha" id="fecha" placeholder="" value="{{sesion.fecha}}">
              <label for="fecha">Fecha de sesión:</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control" name="objetivo" id="objetivo" placeholder="" value="{{sesion.objetivo}}">
            <label for="objetivo">Objetivo de la sesión:</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control" name="evaluacion" id="evaluacion" placeholder="" value="{{sesion.evaluacion}}">
            <label for="evaluacion">Evaluación de la sesión:</label>
          </div>  
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control" name="comentarios" id="comentarios" placeholder="" value="{{sesion.comentarios}}">
            <label for="comentarios">Comentarios de la sesión</label>
          </div>
          <br>
          <button class="btn btn-primary mb-3" type="submit" name="submit" value="crear"><i class="fa-solid fa-pencil"></i> Editar</button>            
      </div>
      </form>
    </div>
    
{% endblock %}