{% extends "layouts/loginLayout.html" %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container fondo d-flex justify-content-center">
  <div class=" mt-5 border border-dark col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
      <div class="col">
        <img src="{{ url_for('static', filename='assets/senama2.png') }}" class="mt-4 rounded border border-dark p-1" alt="Logo senama">
        <form class="col needs-validation sm-12 md-12 lg-6 xl-6" action="/login" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="form-floating sm-12 md-12 lg-6 xl-6 m-5 d-flex">
              <input type="text" class="form-control" name="nombreUsuario" id="nombreUsuario" required>
              <label for="nombreUsuario" class="form-label"><i class="fa-solid fa-user"></i> Usuario</label>
            </div>
            <div class="form-floating sm-12 md-12 lg-6 xl-6 m-5 d-flex">
              <input type="password" class="form-control" name="password" id="password" required>
              <label for="password" class="form-label"><i class="fa-solid fa-key"></i> Constraseña</label>
            </div>
            <div class="row">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="align-items-center justify-content-center">
                        {% for category,message in messages %}
                            <div class="alert col-lg-12  alert-{{category}} alert-dismissible show fade" role="alert" id="alert-message">
                                <strong>{{message}}</strong> 
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>                        
                            </div>    
                        {% endfor %}
                    </div>
                {% endif %}
              {% endwith %}
            </div>
            <button class="btn btn-primary mb-4" type="submit"><i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión</button>
        </form>          
    </div>        
  </div>
</div>


{% endblock %}