{% extends "layouts/kineLayout.html" %}

{% block title %}Página principal{% endblock %}

{% block body %}
<div class="container fondo">
  <nav class="m-1" style="--bs-breadcrumb-divider: '>';">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('kinesiologo_main') }}"><i class="fa-solid fa-home"></i></a></li>
        <li class="breadcrumb-item active">Retroalimentación en tiempo real</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-8" >
      <h1 class="fw-bold fs-3">Push ups:</h1>
      <img id="videoImage" style="display: none" class="m-3 p-1 mx-auto" src="{{ url_for('video_feed') }}" alt="Cámara en vivo">  
    </div>          
    <div class="col-md-4">
      <h1 class="fw-bold fs-3">Retroalimentación en tiempo real con mediapipe</h1>
      <p class="fs-6">Analiza a través de video ...</p>
      <button class="btn btn-primary btn-lg mb-3" type="button" id="toggleButton">Example button</button>      
    </div>          
  </div>      
</div>
<script>
  // JavaScript para mostrar u ocultar la imagen al hacer clic en el botón
  const toggleButton = document.getElementById('toggleButton');
  const myImage = document.getElementById('videoImage');

  let imageVisible = false;

  toggleButton.addEventListener('click', function () {
      if (imageVisible) {
          myImage.style.display = 'none'; // Oculta la imagen
      } else {
          myImage.style.display = 'block'; // Muestra la imagen
      }
      imageVisible = !imageVisible; // Cambia el estado de visibilidad
  });
</script>
{% endblock %}
