{% extends "layouts/kineLayout.html" %}

{% block title %}Editar Paciente{% endblock %}

{% block body %}
{% for i in paciente %}
<div class="container col-md-4 fondo">
    <h3 class="m-2">Crear paciente nuevo:</h3>
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="container col-md-10">
            <div class="mb-3 visually-hidden">
            <label class="visually-hidden" for="idPaciente">Id paciente</label>
            <input type="number" class="form-control" name="idPaciente" id="idPaciente" value="{{i.id_paciente}}" placeholder="">
        </div>
        <div class="mb-3 visually-hidden">
            <label class="visually-hidden" for="fkIdKinesiologo">Id Kinesiologo</label>
            <input type="number" class="form-control" name="fkIdKinesiologo" id="fkIdKinesiologo" placeholder="" value="{{current_user.get_id()}}">
        </div>
        <div class="form-floating mb-3">
            <input
            type="text"
            class="form-control" name="nombrePaciente" id="nombrePaciente" placeholder="" value="{{i.nombre_completo}}">
            <label for="nombrePaciente">Nombre del paciente:</label>
        </div>
        
        <div class="form-floating mb-3">
            <input
            type="date"
            class="form-control" name="fechaNacimiento" id="fechaNacimiento" placeholder="" value="{{i.fecha_nacimiento}}">
            <label for="fechaNacimiento">Fecha de nacimiento:</label>
        </div>

        <div class="form-floating mb-3">
            <input
            type="number"
            class="form-control" name="estatura" id="estatura" placeholder="" step="0.01" value="{{i.estatura}}">
            <label for="estatura">Estatura del paciente:</label>
        </div>

        <div class="form-floating mb-3">
            <input
            type="number"
            class="form-control" name="peso" id="peso" placeholder="" step="0.01" value="{{i.peso}}">
            <label for="peso">Peso del paciente (kg):</label>
        </div>

        {% if i.genero == 'masculino' %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="generoPaciente" id="femenino" value="femenino">
                <label class="form-check-label" for="femenino">Femenino</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="generoPaciente" id="masculino" value="masculino" checked>
                <label class="form-check-label" for="masculino">Masculino</label>
            </div>
        {% endif %}
        {% if i.genero == 'femenino' %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="generoPaciente" id="femenino" value="femenino" checked>
                <label class="form-check-label" for="femenino">Femenino</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="generoPaciente" id="masculino" value="masculino">
                <label class="form-check-label" for="masculino">Masculino</label>
        </div>
        {% endif %}            
        
        <br>
        <button class="btn btn-primary" type="submit" name="submit" value="crear"><i class="fa-solid fa-plus"></i> Crear</button>       
    </div>
    </form>
</div>
{% endfor %}

{% endblock %}