{% extends "layouts/kineLayout.html" %}

{% block title %}Menú principal{% endblock %}

{% block body %}
<div class="mb-4 rounded-3 fondo">
    <div class="container-fluid py-5">
        {% for i in kinesiologo %}
            <h1 class="display-5 fw-bold">Hola {{ current_user.nombre_completo }}</h1>
            <p class="lead">Recuerda que, en SENAMA estamos comprometidos en brindar el mejor cuidado y atención a nuestros adultos mayores. Como kinesiólogo, eres una parte fundamental de nuestra misión de promover la salud y el bienestar.</p>
            <hr class="my-4">
            <p>Este portal es tu herramienta para acceder a la información y recursos necesarios para llevar a cabo tu importante labor. Aquí encontrarás herramientas de registro y seguimiento, información sobre nuestros programas y directrices</p>
            <button class="btn btn-primary btn-lg" type="button">Example button</button>
        {% endfor %} 
    </div>   
</div>

{% endblock %}

{% block footer %}
    
{% endblock %}