{% extends "layouts/kineLayout.html" %}

{% block title %}Sesiones{% endblock %}

{% block body %}
<div class="fondo">
    <nav class="m-1" style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('kinesiologo_main') }}"><i class="fa-solid fa-home"></i></a></li>
          <li class="breadcrumb-item"><a href="{{ url_for('listar_pacientes') }}">Pacientes</a></li>
          <li class="breadcrumb-item active"></a>Sesiones</li>
        </ol>
      </nav>
    <div class="row">
        <div class="container col-md-4">
            <h3 class="m-2">Crear paciente nuevo:</h3>
            <form action="" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="container col-md-10">
                    <div class="mb-3 visually-hidden">
                    <label class="visually-hidden" for="idPaciente">Id paciente</label>
                    <input type="number" class="form-control" name="idPaciente" id="idPaciente" value="" placeholder="">
                </div>
                <div class="mb-3 visually-hidden">
                    <label class="visually-hidden" for="fkIdKinesiologo">Id Kinesiologo</label>
                    <input type="number" class="form-control" name="fkIdKinesiologo" id="fkIdKinesiologo" placeholder="" value="{{current_user.get_id()}}">
                </div>            
                <div class="form-floating mb-3">
                    <input
                    type="date"
                    class="form-control" name="fecha" id="fecha" placeholder="">
                    <label for="fecha">Fecha de nacimiento:</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control" name="objetivo" id="objetivo" placeholder="">
                  <label for="objetivo">Objetivo de la sesión:</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control" name="evaluacion" id="evaluacion" placeholder="">
                  <label for="evaluacion">Evaluación de la sesión:</label>
                </div>  
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control" name="comentarios" id="comentarios" placeholder="">
                  <label for="comentarios">Comentarios de la sesión</label>
                </div>
                <br>
                <button class="btn btn-primary mb-3" type="submit" name="submit" value="crear"><i class="fa-solid fa-plus"></i> Crear</button>
                <button class="btn btn-secondary mb-3" type="button" id="borrarCampos"><i class="fa-solid fa-trash"></i> Eliminar</button>
                
            </div>
            </form>
        </div>

        <div class="container col-md-7 p-3">
            <div class="table-responsive">
                <table class="table table-secondary">
                    <thead>
                        <tr>
                            <th scope="col">Sesión:</th>
                            <th scope="col">Fecha de la sesión:</th>
                            <th scope="col">Objetivo de la sesión:</th>
                            <th scope="col">Evaluación de la sesión:</th>
                            <th scope="col">Comentarios de la sesión:</th>
                            <th scope="col">Acciones:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in sesiones %}
                            <tr class="scope">
                                <td>{{ i.id }}</td>
                                <td>{{ i.fecha }}</td>
                                <td>{{ i.objetivo }}</td>
                                <td>{{ i.evaluacion }}</td>
                                <td>{{ i.comentarios }}</td>
                                <td>
                                    <a name="info_sesion" id="info_sesion" class="btn btn-success m-1 p-1" href="/info_paciente/{{i.id}}" role="button"><i class="fa-solid fa-info"></i> Info sesión</a>
                                    <a name="crudRutinas" id="crudRutinas" class="btn btn-warning m-1 p-1" href="/crudRutinas/{{i.id}}" role="button"><i class="fa-solid fa-bars"></i> CRUD de rutinas</a>
                                    <a name="editsesion" id="editsesion" class="btn btn-info m-1 p-1" href="/editar_sesion/{{i.id}}" role="button"><i class="fa-solid fa-pen-nib"></i> Editar</a>
                                    <a name="deletesesion" id="deletesesion" class="btn btn-danger m-1 p-1" href="/eliminar_sesion/{{i.id}}" role="button"><i class="fa-solid fa-x"></i> Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>                        
            </div>
        </div>

    </div>
</div>    

<script>
document.getElementById("borrarCampos").addEventListener("click", function() {
    // Selecciona los campos de entrada y establece su valor en vacío
    document.getElementById("nombrePaciente").value = "";
    document.getElementById("fechaNacimiento").value = "";
    document.getElementById("edadPaciente").value = "";
    document.getElementById("estatura").value = "";
    document.getElementById("formId1").value = "";
})
</script>
{% endblock %}