{% extends "layouts/kineLayout.html" %}

{% block title %}Pacientes{% endblock %}

{% block body %}
<div class="container mt-2">
    <div class="table-responsive">
        <table class="table table-secondary">
            <thead>
                <tr>
                    <th scope="col">Id:</th>
                    <th scope="col">Nombre de paciente:</th>
                    <th scope="col">Acciones:</th>
                </tr>
            </thead>
            <tbody>
                {% for i in pacientes %}
                    <tr class="scope">
                        <td>{{ i.id_paciente }}</td>
                        <td>{{ i.nombre_completo }}</td>
                        <td>
                            <a name="info_pacientes" id="info_pacientes" class="btn btn-success" href="/info_paciente/{{i.id_paciente}}" role="button"><i class="fa-solid fa-info"></i> Info paciente</a>
                            <a name="crud_sesiones" id="crud_sesiones" class="btn btn-warning" href="/crud_sesiones/{{i.id_paciente}}" role="button"><i class="fa-solid fa-bars"></i> CRUD de sesiones</a>
                            <a name="crudRutinas" id="crudRutinas" class="btn btn-warning" href="/crudRutinas/{{i.id_paciente}}" role="button"><i class="fa-solid fa-bars"></i> CRUD de rutinas</a>
                            <a name="editUSuario" id="editUsuario" class="btn btn-info" href="/editarPaciente/{{i.id_paciente}}" role="button"><i class="fa-solid fa-pen-nib"></i> Editar</a>
                            <a name="deleteUSuario" id="deleteUsuario" class="btn btn-danger" href="/eliminarPaciente/{{i.id_paciente}}" role="button"><i class="fa-solid fa-x"></i> Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>                        
    </div>

{% endblock %}